.app-list {
  align-self: flex-start;
  flex: 1;
  list-style: none;
  margin: 0;
  max-width: 700px;
  padding: 0;
  position: relative;

  &__item {
    padding: 1rem 0.5rem;
    width: 100%;

    &.slide-appear {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
      transition: opacity 300ms, transform 150ms ease-out;

      @for $i from 0 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 100ms;
        }
      }
    }

    &.slide-appear-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    &.slide-enter, &.slide-leave {
      left: 0;
      position: absolute;
      top: 100%;
    }

    &.slide-enter {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
      transition: transform 150ms ease-out, opacity 150ms;
    }

    &.slide-enter-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    &.slide-leave {
      opacity: 1;
      transition: opacity 150ms;
    }

    &.slide-leave-active {
      opacity: 0;
    }
  }
}

