.app {
  background: #fff;
  color: initial;
  border-radius: 5px;
  padding: 2rem;
}

.app__name {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 1rem 0;
}

.app__desc {
  color: #555;
  font-size: 14px;
  margin: 0;
}
