html {
  background: linear-gradient(to bottom, rgb(148,148,208), rgb(178,167,224));
  background: linear-gradient(to bottom,  #51074B, #C10056);
  box-sizing: border-box;
  color: #333;
  font-family: 'Fira Sans', sans-serif;
  font-kerning: normal;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}
