.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site__body {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.site__header {
  background: #fff;
  padding: 2rem;
}

.site__title {
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
}
