.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site__body {
  background: linear-gradient(to bottom,  #51074B, #C10056);
  color: #fff;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 4rem;
}

.site__header {
  background: #fff;
  padding: 2rem;
}

.site__title {
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
}
