@import "variables";

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site__body {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 1rem;

  @media screen and (min-width: $small-breakpoint) {
    padding-top: 2rem;
  }

  @media screen and (min-width: $medium-breakpoint) {
    padding-top: 4rem;
  }
}

.site__header {
  background: #fff;
  padding: 1rem;

  @media screen and (min-width: $small-breakpoint) {
    padding: 2rem;
  }

  @media screen and (min-width: $medium-breakpoint) {
    padding: 4rem;
  }
}

.site__title {
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
}
