html {
  box-sizing: border-box;
  color: #333;
  font-family: 'futura-pt', sans-serif;
  font-kerning: normal;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #f0f0f0;
}
