.button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 1em;

  &:focus {
    outline: none;
  }

  &--outlined {
    border: 2px solid;
    border-radius: 5px;
  }

  &--primary {
    background: #9578E4;
    color: #fff;
    min-width: 9em;
  }

  &--secondary {
    background: #9578E4;
    border-radius: 3px;
    color: #fff;
    min-width: 9em;
    border-bottom: 2px solid rgba(0,0,0,0.3);
  }

  &--cancel {
    color: #777;
  }
}
