@import "variables";

.form-row {
  margin-bottom: 1em;

  &__message {
    margin: 0.5em;

    &:empty {
      display: none;
    }
  }

  &__hint, &__error {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
  }

  &__error {
    color: #F41785;
  }

  &__hint {
    color: #999;
  }
}
