$grid-gutter: 1em;

%col-with-gutter {
  padding-left: $grid-gutter;
}

.grid {
  display: flex;
  margin-left: -$grid-gutter;

  &-0 {
    @extend %col-with-gutter;
  }

  @for $i from 1 to 11 {
    &-#{$i} {
      @extend %col-with-gutter;
      flex: $i;
    }
  }
}
