.table {
  border-collapse: collapse;
  width: 100%;

  tr:last-child {
    border-bottom: 1px solid #ccc;
  }

  th {
    line-height: 1.6;
    font-size: 14px;
  }

  td {
    color: #4c4f4f;
    font-size: 15px;
  }

  th, td {
    padding: 10px 22px 10px 0;
  }
}
