<!doctype html>
<html>
  <head>
    <title>hercules</title>
    <script src="https://use.typekit.net/hot7ecy.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" rel="stylesheet" type="text/css">
    <style>
      html {
        box-sizing: border-box;
        color: #333;
        font-family: 'futura-pt', sans-serif;
        font-kerning: normal;
        font-size: 16px;
        -webkit-font-smoothing: antialiased; }
      body { background: #f0f0f0; }
      *, *:before, *:after { box-sizing: inherit; }
    </style>
  </head>
  <body>
    <div class="site">
      <header class="site__header">
        <h1 class="site__title">hercules</h1>
      </header>

      <main id="app" class="site__body">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </main>
    </div>

    <script type="text/javascript" src="bundle.js" charset="utf-8"></script>
  </body>
</html>
